# Top level dirs
*.sw[po]
/Downloads
/gitcontainer
/gits
/repos
/doc
/abs
/Videos
/opt
/xfer
/Desktop
/config/vim/bundle/
/config/vim/tmp/
/export
/Dropbox
/node_modules
/perl5
/Music
/archive
/VirtualBox VMs
/src
/tmp

# Specific files
tags
test-0.mp4
dead.letter
foo*
/*.md
/*.mp3
/*.ogg
/*.json
/*.xml
/*.png
/*.jpg
/*.mkv
rogue.scr
x
y
z
*.old
*.bak
*.gz
*.bz2
*.asc
*.gpg

# Dot *files*
.*_history
.*.history
.histfile
.history
.zhistory
.*.log
.conkyrc1
.*_auth
.fbtermrc
.fehbg
.gnumericrc
.gnuplot-wxt
.gtk-bookmarks
.gtkrc-2.0
.*-credentials
.gem/credentials
.lesshst
.lucli
.*-cookie
.recently-used
.slime_paste
.viminfo
.Xauthority
.zcompdump
.zdirs
.aliases.cache
.dbshell
.mailstat
.rnd
.fontpage
.gtk*
.xtermcontrol
.festivalrc
.dockercfg
.s3cfg
.netrc
.msmtprc
.cshrc
.appcafeprefs
.ideskrc
.lastlogin
.login
.login_conf
.mail_aliases
.mailrc
.mounttray.settings
.pcdmsessionstart
.profile
.ratpoisonrc
.rhosts
.screenrc
.shrc
.xprofile
.xscreensaver
Documents
GNUstep
Images
fontconfig


# Dot *dirs*
.*/

# Keepers
!.i3
!.zfunc
